/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, #fde8a9, #fcb670);
    color: white;
    font-family: "poppins", sans-serif;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    background-color:  #fde8a9;
    margin: 5rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px rgba(0,0,0, .5);
    overflow: hidden;
    border-left: .3rem solid #61ce78;
    border-right: .3rem solid #61ce78;
}
header {
  position: relative;
  font-size: 1.5rem;
  color: #61ce78;
}
header,
form {
  position: relative;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  max-width: 80%;
  overflow: hidden;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  outline: none;
}
form button {
  color: #fcb670;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0 10px 10px 0;
}
form input {
  width: 100%;
  border-radius: 10px 0 0 10px;
}
form button:hover {
  background: #fcb670;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.todo-list {
  margin: 0;  
  width: 60%;
  list-style: none;
  
}
.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  border-left: .3rem solid #fcb670;

}
.todo:hover{
    box-shadow: 2px 2px 10px rgba(0,0,0, .5);
}
.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  background: #fcb670;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
}
.complete-btn {
  background: #61ce78;
}
.todo-item {
  padding: 0rem 0.5rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #fcb670;
  width: 20rem;
  cursor: pointer;
  padding: .8rem;
  font-size: 1.5rem;
}
.select::after{
    content: "\25BC";
    position: absolute;
    background: #fcb670;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
    
    overflow: hidden;
}
.select:hover::after{
    background: white;
    color: #fcb670;
}
@media screen and (min-width: 300px) and (max-width: 800px){
  .container{
    width: 90%;
    margin: .5rem;
    min-height: 80vh;
  }
  header{
    font-size: 1.5rem;
  }
  form{
    display: block;
  }
  form input,
  form button {
    padding: 0.5rem;
    font-size: 1.5rem;
    display: block;
    height: 2.8rem;
  }
  form button {
    position:absolute;
    right:0;
    top: 0;
  }
  .todo-input{
    position: relative;
  }
  .todo {
    font-size: 1.2rem;
  }
  .todo-list { 
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .todo-item {
    padding: 0rem 0.2rem;
    overflow: hidden;
    overflow-wrap: break-word;
  }
  select{
    width: 15rem;
    height: 2.6rem;
    padding: .3rem;
    font-size: 1.5rem;
  }
  .select::after{
    top: 0;
    right: 10px;
    padding: .5rem;
    font-size: 1rem;
  }



}